/*
 * SPDX-FileCopyrightText: 2025 Håkon Løvdal <kode@denkule.no>
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

.menu-item {
    background-color: brown;
    color: white;
    font-size: 1.5em;
    margin: 0.5em;
    padding: 0.5em;
    border-radius: 0.75em;
}

hr {
    margin-top: 2em;
}

.content {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

footer {
    padding: 0.3em;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

// External link indicator, https://stackoverflow.com/a/11134911/23118
a[href^="http"]:after {
    content: " " url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAVklEQVR4Xn3PgQkAMQhDUXfqTu7kTtkpd5RA8AInfArtQ2iRXFWT2QedAfttj2FsPIOE1eCOlEuoWWjgzYaB/IkeGOrxXhqB+uA9Bfcm0lAZuh+YIeAD+cAqSz4kCMUAAAAASUVORK5CYII=);
}
