<!--
SPDX-FileCopyrightText: 2025 Håkon Løvdal <kode@denkule.no>

SPDX-License-Identifier: GPL-3.0-or-later
-->

<div class="background-image-container">
  <img ngSrc="/assets/images/workers.png" alt="" class="background-image" fill loading="lazy">
</div>

<ng-container *transloco="let t; prefix: 'header'">
<header>
  <h1>{{ t('title') }}</h1>
</header>
</ng-container>

<nav>
  <div class="navigation">
    @for (menuItem of menuItems; track menuItem) {
      <span>
        @if (menuItem.visibleSignal()) {
          <a class="menu-item" [routerLink]="menuItem.urlSignal()">{{ menuItem.textSignal() }}</a>
        }
      </span>
    }
  </div>
</nav>

<hr>

<main>
  <router-outlet />
</main>

<ng-container *transloco="let t; prefix: 'footer'">
<footer>
  <p><app-language-selector></app-language-selector></p>
  <p><a routerLink="/om">{{ t('about') }}</a></p>
  <p><a routerLink="/oppdatering">{{ t('contributing') }}</a></p>
  <p><a href="https://github.com/1maiprogram/website" target="_blank" rel="noopener noreferrer">{{ t('source_code') }}</a></p>
</footer>
</ng-container>
