/*
 * SPDX-FileCopyrightText: 2025 Håkon Løvdal <kode@denkule.no>
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

.missing {
    background-color: white;
    padding: 2em;
}

@media (width >= 400px) {
    .missing {
        margin: 2em;
        border-radius: 25px;
    }
}
