/*
 * SPDX-FileCopyrightText: 2025 Håkon Løvdal <kode@denkule.no>
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

.missing {
    background-color: white;
    padding: 2em;
}

@media (width >= 400px) {
    .missing {
        margin: 2em;
        border-radius: 25px;
    }
}

// External link indicator, https://stackoverflow.com/a/11134911/23118
a[href^="http"]:after {
    content: " " url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAVklEQVR4Xn3PgQkAMQhDUXfqTu7kTtkpd5RA8AInfArtQ2iRXFWT2QedAfttj2FsPIOE1eCOlEuoWWjgzYaB/IkeGOrxXhqB+uA9Bfcm0lAZuh+YIeAD+cAqSz4kCMUAAAAASUVORK5CYII=);
}
