/*
 * SPDX-FileCopyrightText: 2025 Håkon Løvdal <kode@denkule.no>
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

/* You can add global styles to this file, and also import other style files */

li {
    margin: 0.75em;
}

a {
    background-color: white;
    padding: 0.3em;
}
