<!--
SPDX-FileCopyrightText: 2025 Håkon Løvdal <kode@denkule.no>

SPDX-License-Identifier: GPL-3.0-or-later
-->

<div class="content">
    <p>
        Du kan sende epost med oppdateringer til
        <a href="mailto:oppdatering.2025@1maiprogram.no?subject=1.%20mai%20link%20til%20...&body=Fylke:%20%0D%0AKommune:%20%0D%0AUrl:%20%0D%0ABeskrivelse:%20%0D%0A%0D%0APUTT%20INN%20ANTI-SPAMORDET%20HER!:%20%0D%0A%0D%0AHilsen%20%0D%0A">
            oppdatering.2025&#64;1maiprogram.no</a>
        som inneholder <i>fylke</i>, <i>kommune</i>, <i>url</i> samt en veldig
        kort beskrivelse/tekst til linken.
    </p>
    Eksempel:
    <pre>
Subject/emne: 1. mai link til Minby

Fylke: Mittfylke
Kommune: Minby
Url: https://minby.kommune.no/1mai/2025
Beskrivelse: Minby kommunes program

skomakermelk

Hilsen ...</pre>
    <p>
        <b>
            For å filtere vekk spam, pass på å ha med ordet "skomakermelk" en
            eller annen plass i teksten, alle eposter som ikke gjør det blir
            automatisk slettet.
        </b>
    </p>
    <p>
        Hvis du sender inn flere på en gang kan du helst bruke
        <a href="https://no.wikipedia.org/wiki/CSV">CSV format</a>, enten som
        tekst i eposten eller som en vedlagt fil (husk å fremdeles få med
        "skomakermelk" i epostteksten).
    </p>
<pre class="csv">fylke,kommune,link,description
Innlandet,Sel,https://www.lo.no/hvem-vi-er/regioner/innlandet/1.-mai-2025/1.-mai-i-innlandet/1.-mai-pa-otta,"LO program, Otta"
Innlandet,Lillehammer,https://www.lo.no/hvem-vi-er/regioner/innlandet/1.-mai-2025/1.-mai-i-innlandet/1.-mai-i-lillehammer,"LO program, Lillehammer"
Innlandet,Stange,https://www.lo.no/hvem-vi-er/regioner/innlandet/1.-mai-2025/1.-mai-i-innlandet/1.-mai-i-stange,"LO program, Stange"
Innlandet,Hamar,https://www.lo.no/hvem-vi-er/regioner/innlandet/1.-mai-2025/1.-mai-i-innlandet/1.-mai-i-hamar,"LO program, Hamar"
Telemark,Porsgrunn,https://www.nito.no/kurs-og-arrangementer/politikk-og-samfunn/bli-med-pa-1.-mai-markering/,"NITO program, Porsgrunn"
...</pre>
    <button ngxBackButton="/">Tilbake</button>
</div>
