<!--
SPDX-FileCopyrightText: 2025,2026 Håkon Løvdal <kode@denkule.no>

SPDX-License-Identifier: GPL-3.0-or-later
-->

<ng-container *transloco="let t; prefix: 'updates'">
<div class="content">
    <p>{{ t('paragraph1a') }}
        <a href="mailto:oppdatering.2026@1maiprogram.no?subject=1.%20mai%20link%20til%20...&body=Fylke:%20%0D%0AKommune:%20%0D%0AUrl:%20%0D%0ABeskrivelse:%20%0D%0A%0D%0APUTT%20INN%20ANTI-SPAMORDET%20HER!:%20%0D%0A%0D%0AHilsen%20%0D%0A">
            oppdatering.2026&#64;1maiprogram.no</a>{{ t('paragraph1b') }} <i>fylke</i>, <i>kommune</i>, <i>url</i> {{ t('paragraph1c') }}</p>
    {{ t('example') }}:
    <pre>
{{ t('email_line1') }}

Fylke: Mittfylke
Kommune: Minby
Url: https://minby.kommune.no/1mai/2026
{{ t('email_line2') }}

skomakermelk

{{ t('email_line3') }} ...</pre>
    <p><b>{{ t('paragraph2') }}</b></p>
    <p>{{ t('paragraph3') }}</p>
    <p>{{ t('paragraph4a') }} <a href="https://no.wikipedia.org/wiki/CSV">CSV format</a>, {{ t('paragraph4b') }}
    </p>
<pre class="csv">fylke,kommune,link,description
Innlandet,Sel,https://www.lo.no/hvem-vi-er/regioner/innlandet/1.-mai-2025/1.-mai-i-innlandet/1.-mai-pa-otta,"LO program, Otta"
Innlandet,Lillehammer,https://www.lo.no/hvem-vi-er/regioner/innlandet/1.-mai-2025/1.-mai-i-innlandet/1.-mai-i-lillehammer,"LO program, Lillehammer"
Innlandet,Stange,https://www.lo.no/hvem-vi-er/regioner/innlandet/1.-mai-2025/1.-mai-i-innlandet/1.-mai-i-stange,"LO program, Stange"
Innlandet,Hamar,https://www.lo.no/hvem-vi-er/regioner/innlandet/1.-mai-2025/1.-mai-i-innlandet/1.-mai-i-hamar,"LO program, Hamar"
Telemark,Porsgrunn,https://www.nito.no/kurs-og-arrangementer/politikk-og-samfunn/bli-med-pa-1.-mai-markering/,"NITO program, Porsgrunn"
...</pre>
    <button ngxBackButton="/">{{ t('back_button') }}</button>
</div>
</ng-container>
